@import 'style';

.about {
  min-height: 100vh;
  padding-top: calc(56px + 24px);
  @include small {
    padding-top: calc(98px + 24px);
  }
  &__title {
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
    margin-bottom: 24px;
    @include small {
      margin-bottom: 32px;
    }
  }
}

.profile {
  max-width: 500px;
  margin: 0 auto;
  &__inner {
    display: grid;
    gap: 24px;
    @include small {
      margin-bottom: 32px;
    }
  }
  &__name {
    font-size: clamp(24px, 5vw, 40px);
  }
  &__description {
    line-height: 1.5;
  }
}
