@import 'style';

.category {
  &__area {
    padding-top: unquote('min(280px, 20vw)');
    padding-bottom: 32px;
    position: relative;
    @include exlarge {
      padding-top: unquote('min(304px, 21vw)');
    }
  }
  &__list {
    column-count: 1;
    column-gap: 0;
    margin-bottom: 32px;
    @include small {
      column-count: 2;
    }
    @include large {
      column-count: 3;
    }
  }
}

.keyvisual {
  &__title {
    font-size: unquote('min(400px, 14vw)');
    line-height: 0.8;
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 500;
  }
  &__img {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(5px);
  }
}

@supports (-webkit-touch-callout: none) {
  .keyvisual {
    height: -webkit-fill-available;
  }
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: space-between;
  &__previous {
    & a {
      &::before {
        content: '<';
        margin-right: 8px;
      }
    }
  }
  &__next {
    & a {
      &::after {
        content: '>';
        margin-left: 8px;
      }
    }
  }
  &__link {
    cursor: pointer;
    font-size: clamp(16px, 3vw, 32px);
    padding: 8px 0 0;
  }
}

.eyecatch {
  padding: 4px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  &__img {
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
  }
}
