@import 'style';

.category {
  &__area {
    padding-top: unquote('min(280px, 20vw)');
    position: relative;
  }
  &__list {
    column-count: 1;
    column-gap: 0;
  }
  @media (min-width: 576px) {
    &__list {
      column-count: 2;
    }
  }

  @media (min-width: 992px) {
    &__list {
      column-count: 3;
    }
  }
}

.keyvisual {
  &__title {
    font-size: unquote('min(400px, 14vw)');
    line-height: 1;
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 800;
  }
  &__img {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(5px);
  }
}

@supports (-webkit-touch-callout: none) {
  .keyvisual {
    height: -webkit-fill-available;
  }
}

.pagination {
}

.eyecatch {
  padding: 4px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
