@import 'style';

.header {
  padding: 8px;
  position: fixed;
  z-index: 555;
  width: 100%;
  @include small {
    padding: 24px;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-size: 50px;
  &__link {
    display: block;
  }
}

.nav_button {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1000;
  @include small {
    height: 50px;
    width: 50px;
  }
  &__link {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:before,
  &:after {
    content: '';
    background-color: #fafafa;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  &:after {
    top: auto;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}