@import 'style';

.navigation {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: none;
  &__active {
    display: block;
    animation: show 0.3s;
  }
  &__wrapper {
    height: 100%;
    width: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.gnav {
  text-align: center;
  &__list {
    cursor: pointer;
    font-size: clamp(40px, 5vw, 200px);
    &:not(:last-of-type) {
      margin-bottom: 24px;
      @include large {
        margin-bottom: 40px;
      }
    }
  }
  &__link {
    display: block;
    &__active {
      opacity: 0.5;
    }
  }
}
