@import 'style';

.top {
  position: relative;
  height: 100vh;
  width: 100%;
  &__title {
    color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .back img {
    display: block;
    object-fit: contain !important;
  }
}

.categories {
  background: #212121;
  display: grid;
  @include medium {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.eyecatch {
  position: relative;
  overflow: hidden;
  &__category {
    font-size: clamp(50px, 8vw, 100px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}
